<% include partials/header %>
  <% include partials/nav %>

  
  <form class="edit-profile">  
    <button class="save-profile-button" >Save</button> <br>

    <input class="update-profile-field first-name-input" type="text" name="first_name" value="<%= first_name %>" data-original="<%= first_name %>" data-user-id="<%= user_id %>"><br>
    <input class="update-profile-field last-name-input" type="text" name="last_name" value="<%= last_name %>" data-orginal="<%= last_name %>" data-user-id="
    <%= user_id %>"><br>  
    <input class="update-profile-field email-input" type="text" name="email" value="<%= email %>" data-original="<%= email %>" data-user-id="
    <%= user_id %>"><br>
    <input class="update-profile-field city-input" type="text" name="city" value="<%= city %>" data-original="<%= city %>" data-user-id="
    <%= user_id %>"><br>
    <button class="save-profile-button2">Save me from this madness</button>
  </form>

<% include partials/footer %> 