<% include partials/header %>

<h1>
  Hello,
  <% if(name) { %>
     <%= name %>
     <% } %>
</h1>

<p>
  Member since:
  <% if(member_since) { %>
     <%= member_since %>
     <% } %>
</p>

<p>
  <% if(collection) { %>
    <ul>
        <% collection.forEach(function(blog) { %>
            <a href="/profile/<%= user_id %>/<%= blog.id %>"><li><%= blog.title %></li></a>
        <% }); %>
    </ul>
     <% } %>
</p>



<% include partials/footer %>
